# Ignorar dependencias del Backend
/backend/node_modules

# Ignorar dependencias del Frontend 
/frontend/node_modules

# Archivos del sistema operativo
.DS_Store
Thumbs.db
# Ignorar uploads especificamente
# backend/uploads/
# **/uploads/
backend/.env

